*, *:before, *:after {
  box-sizing: border-box;
  transition: 0.3s all;
}
html{
	font-family: 'Poppins', sans-serif;
	--scroll-behavior: smooth;
	scroll-behavior: smooth;
}
body{
	margin: 0;
}
h2{
	color: black;
	font-size: 4em;
	text-align: center;
}
header{
	z-index: 2;
	position: fixed;
	width: 100%;
	background: #EE6352;
	transition: 0.3s all;
}
body.blog header{
	background: white;
}
body.blog h3{
	text-align: center;
}
body.blog video{
	width: 100%;
}
body.blog #breadcrumbs{
	padding-top: 6em;
	display: flex;
    align-items: center;
}
.container{
	max-width: 88em;
	margin: auto;
	padding: 1em;
}
#top-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	/* Changes: Padded top-bar for aesthetics */
	padding: 1em 1em;
	/* Change end */
}
header #logo{
	max-height: 3em;
	width: auto;
}

/* Changes: Animate teamLogo */
header #logo:hover{
	opacity: 0.75;
	transform: translate(0, 2px);
}
/* Change end */

header nav a{
	margin: 0 1em;
	color: white;
	text-decoration: none;
	/* Changes: Transition */
	transition: all .25s ease-in-out;
	/* Change end */
}

body.blog header nav a{
	color: black;
}
body.blog h2{
	text-align: center;
	margin: 0.5em 0;
}
body.blog #blog .container img{
	width: 100%;
	height: 10em;
	object-fit: cover;
	margin-bottom: 2em;
}
body.blog .content{
	margin: auto;
	max-width: 40em;
}
.social{
	position: fixed;
	right: 0;
	overflow: hidden;
	top: 8em;
	display: flex;
	flex-direction: column;
	align-items: end;
}
.social a{
	margin-bottom: 0.5em;
	padding: 0.2em 0.2em;
	display: inline-block;
	justify-content: flex-start;
	border-radius: 4em 0 0 4em;
	width: 2.5em;
}

.social a:hover{
	width: 4em;
}
.social img{
	height: 2em;
	width: auto;
}
.social .fb{
	background: #45619d;
}
.social .twitter{
	background: #00b3e0;
}
.full-height{
	min-height: 100vh;
}
header #top-bar.opened{
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
#top-view,
header #top-bar.opened nav{
	background:#EE6352;
}

#top-view{
	background: transparent;
}

#about{
	background: white;
}

#top-view > div{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    height: 100%;
    padding-top: 8em;
    text-align: center;
}

#top-view > div a{
	box-shadow: none;
    background: none;
    border: 2px solid white;
    padding: 0.5em 2em;
    font-size: 2em;
    border-radius: 1em;
    color: white;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 1em;
}

/* Changes: Fixed margin spacing issue with larger screen resolution. */
#top-view .container div {
	margin: auto;
}
/* Change end */

#top-view .container div h1,
#top-view .container div p{
	color: white;
}

#top-view > div a:hover{
	background: #3FA7D6;
}

.header-font{
	font-size: 10em;
	color: white;
	font-weight: bold;
}

header.about,
header.about #top-bar.opened nav{
	background: #59CD90;
}

header.about a{
	color: black;
}

/* Changes: Underline when scrolled to section */
header.about nav a:nth-child(1) {
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: black;
}
/* Change end */

header.gameplay,
header.gameplay #top-bar.opened nav{
	background: #3FA7D6;
}

header.gameplay a{
	color: white;
}

/* Changes: Underline when scrolled to section */
header.gameplay nav a:nth-child(2) {
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: white;
}
/* Change end */

header.rules,
header.rules #top-bar.opened nav{
	background: #FAC05E;
}

header.rules a{
	color: black;
}

/* Changes: Underline when scrolled to section */
header.rules nav a:nth-child(3) {
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: black;
}
/* Change end */

header.team,
header.team #top-bar.opened nav{
	background: #F79D84;
}

header.team a{
	color: black;
}

/* Changes: Underline when scrolled to section */
header.team nav a:nth-child(4) {
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: black;
}
/* Change end */

#about h2,
#gameplay h2,
#team h2,
#rules h2,
body:not(.blog) #blog h2{
	padding-top: 1em;
}

.about-icons{
	margin-top: 6em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1em;
}

.about-icon{
	width: calc(25% - 3em/4);
	text-align: center;
}

.about-icon .icon img{
	width: 10em;
	height: 10em;
	text-align: center;
}

.about-icon h3{
	text-align: center;
}

#gameplay .gameplay-buttons,
#blog .blog-buttons{
	display: flex;
	gap: 1em;
}

#gameplay .gameplay-buttons .space,
#blog .blog-buttons .space{
	flex-grow: 1;
}

#gameplay .gameplay-images,
#blog .blog-posts{
	margin-top: 2em;
	overflow-x: hidden;
}

#gameplay .gameplay-images > div,
#blog .blog-posts > div{
	display: flex;
	transition: 0.3s all;
	gap: 1em;
}

/* Changes: Applied to videos as well + aspect ratio is now 16:9 */
#gameplay .gameplay-images img, video{
	height: 28.125em;
	width: 50em;
	object-fit: cover;
}
/* Change end */

#gameplay button,
#blog button{
	height: 4em;
	width: 4em;
	color: white;
	background: black;
	border-radius: 50%;
	border: none;
	box-shadow: none;
	cursor: pointer;
	border: 0.4em solid white;
	transition: 0.3s all;
}

#gameplay button:hover,
#blog button:hover{
	background: white;
	border-color: black;
}

#gameplay button svg,
#blog button svg{
	fill: white;
	transition: 0.3s all;
}

#gameplay button:hover svg,
#blog button:hover svg{
	fill: black;
}

.team-members{
	display: flex;
}

.team-member{
	width: 20px;
	overflow: hidden;
	transition: 2s all;
	text-align: center;
}

.team-member.active{
	width: calc(100% - 160px);
}

.team-member img{
	/*width: 100%;*/
	height: 400px;
	text-align: center;
	/*object-fit: cover;*/
	object-position: top;
}

.team-member h3{
	margin-bottom: 0;
	font-size: 1px;
	transition: 0.3s all;
}

.team-member.active h3{
	font-size: 1em;
}

.team-member h4{
	/* Changes: Color for visibility */
	color: grey;
	/* Change end */
    font-weight: normal;
    margin: 0;
    font-size: 1px;
}

.team-member.active h4{
	font-size: 0.8em;
}

#menu-toggle{
	display: none;
	background: none;
	box-shadow: none;
	border: none;
	cursor: pointer;
}

#menu-toggle svg{
	fill: white;
}

#top-view img{
	height: 7em;
}

#top-view img#top-tiles{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	animation-name: tilesMove;
  	animation-duration: 10s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
	object-fit: cover;
	z-index: -1;
}
#top-bg{
	background: #EE6352;
	top:0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
}
@keyframes tilesMove{
  0% {top: 0;}
  50% {top: 30px;}
  100% {top: 0px;}
}
/* Changes: Removed round borders for consistency + hover effect for blog posts + img rescaling removed so images aren't weirdly zoomed in. */
.blog-post{
	width: 20em;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 1em;
	text-decoration: none;
	color: black;
}
.blog-post img{
	object-fit:cover;
}
.blog-post:hover{
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	transform: translate(0, -10px);
}
/* Change end */

header nav a{
	transition: 0.3s all;
}

/* Changes: Hover effect */
header nav a:hover{
	opacity: 0.5;
}
/* Change end */

@media only screen and (max-width: 1220px) {

  .header-font{
	font-size: 5em;
	color: white;
	font-weight: bold;
  }
}

@media only screen and (max-width: 800px) {
  .about-icon{
  	width: calc(50% - 1em/2);
  }
  #top-view img{
  	display: none;
  }

  .team-member {
    width: calc(100%/3 - 2em/3);
  }
  #menu-toggle{
	display: flex;
  }
  #top-bar nav{
  	display: flex;
    flex-direction: column;
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
  }
  #top-bar.opened nav{
	height: auto;
	padding: 1em;
  }
  #gameplay .gameplay-images img{
  	height: 23em;
  	width: 30em;
  }
}

@media only screen and (max-width: 600px) {
  
  .team-member {
    width: calc(100%/2 - 1em/2);
  }
  
  #gameplay .gameplay-images img{
  	height: 16em;
  	width: 21em;
  }
}

@media only screen and (max-width: 400px) {
  h2{
  	font-size: 3em;
  }
  #gameplay .gameplay-images img{
  	height: 12em;
  	width: 17em;
  }
  .team-member {
    width: 100%;
  }
  .about-icon{
  	width: 100%;
  }
}

/* Changes: Hide scroll bar */
*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
/* Change end */

/* Changes: Added animation for appearance of specified classes */
.appear {
	position: relative;
	opacity: 0;
}

/* When appear function is called */
.appear.trigger {
	opacity: 1;
}

/* Transformation transitions for smoothness */
.trigger.fade-left {
	animation: fade-left .5s ease-in-out;
}

.trigger.fade-right {
	animation: fade-right .5s ease-in-out;
}

/* Transformations */
@keyframes fade-left {
	0% {
		transform: translateX(-200px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
    }
}

@keyframes fade-right {
	0% {
		transform: translateX(200px);
		opacity: 0;
    }
    100% {
		transform: translateX(0);
		opacity: 1;
    }
}

/* Change end */

/* Changes: Text shadow for top-view + imgs can no longer be highlighted */
#top-view p, #top-view h1 {
	text-shadow: 1px 1px #EE6352;
}

img {
	user-select: none;
}
/* Change end */

/* Changes: Footer section containing redirect links + other socials + copyright disclaimer */

footer {
	color: white;
	background: #DA8492;
	box-shadow: 3px 0 10px rgb(0 0 0 / 0.2);
}

footer div {
	display: flex;
	flex-direction: row;

}

footer div div{
	display: flex;
	flex-direction: column;
}

#footer-logo{
	width: 25em;
	padding: 2em 0;
	opacity: .8;
}

.footer-right {
	width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
	background: #ED9377;
}

.footer-right div {
	flex-direction: row;
}

.footer-right div a{
	margin: 0 1.5em;
	opacity: 0.75;
}

.footer-right div a:hover{
	transform: scale(1.5);
	opacity: 1;
}

.footer-right a img{
	width: 30px;
}

.footer-left {
	width: 15vw;
	margin: 1em 1em;
}

.footer-left img{
	padding-top: 1em;
	margin: auto;
	width: 5em;
	opacity: .8;
}

#footer-list {
	width: 100%;
	/* Color */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 5% 0;
}

.list-item {
	display: block;
	width: 100%;
	height: 3em;
	position: relative
}

.list-item div{
	display: flex;
	flex-direction: row;
}


.list-item:not(:last-child) {
	margin-bottom: 5%;
}
 
.list-item:hover .list-slider{
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.list-container {
	width: 90%;
	height: 100%;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
}

.list-slider {
	height: 2.5px;
	/* Color */
	background: #FFCDFF;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.list-title {
	margin-left: 7.5%;
}

.list-title h1{
	/* Color */
	color: white;
	font-size: 15;
}

/* Change end */

/* Changes: Fixed assets from articles (blog pages) */
#blog-page img {
	width: 100%;
}

#blog-page video {
	height: 22.5em;
}
/* Change end */